.card {
  height: 100%;
  max-width: 100%;
  background-color: white;
  perspective: 1000px;
  overflow: hidden;
  border-radius: 24px;
  padding: 30px;
  transform: translate3d(0px, 0px, 0px);
}
.text{
    z-index: 1;
}

.text h3{
  font-weight: 400;
  font-size:  2rem;

}

.card img:hover{
  transition: all 0.3s linear;
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  .card{
    height: 344px;
    margin-bottom: 20px;
  }

  .text h3{
    font-size: 1.5rem;
  }
}
